/* css reset */

/* css variables */

:root {
  --ff: "Inter", sans-serif;

  --h1: bold 1.125rem/1.4em var(--ff);
  --h2: bold 1rem/1.4em var(--ff);
  --p: 1rem/1.4em var(--ff);
  --p: 0.875rem/1.4em var(--ff);

  --gray: hsl(0, 0%, 100%);
  --gray-70: hsl(0, 0%, 70%);
  --gray-0: hsl(0, 0%, 0%);
}

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

/* html {
  color-scheme: dark light;
} */

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

