@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yesteryear&display=swap');


.homePage {
  min-height: 100vh;
  padding: 1rem;
  background-color: black;
  color: white;
}

/* logo styles */

.logoContainer img{
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

/* ----------------NAV--------------- */

.nav {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 3rem; */
  border-bottom: solid 1px hsl(0, 0%, 30%);
  position: sticky;
  top: 0;
  z-index: 99999;
  background-color: black;
}

.nav > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.nav > a:hover {
  cursor: pointer;
  box-shadow: 0 2px 0 white;
}

/* logo description */

.titleTextContainer {
  margin-bottom: 2rem;
}

.titleText {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  /* margin-inline: auto; */
  padding: 0;
  color: gold;
  letter-spacing: 0.1em;
  /* overflow: hidden;
  white-space: nowrap; */
  /* border-right: 1px solid white; */
  /* animation: typing 3s steps(10) forwards,
  blink 1s step-end infinite; */
}

.titleTextContainer > p {
  text-align: center;
  font-size: 1.5rem;
  word-spacing: 0.25rem;
}

/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */

/* services provided */

.serviceText {
  font-size: 1.5rem;
  color: gold;
}

.servicesList {
  list-style: none;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1000ms ease-out forwards;
  display: flex;
  justify-content: center;
  gap: 1rem;
  min-height: 80vh;
  margin-block: 3rem;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Start from slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}


.servicesList > li {
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  min-width: 400px;
}

.servicesList > li:first-child {

 background: url("../../assets/hexagon-left-red.svg");
 background-position: center;
 background-repeat: no-repeat;
  font-family: 'Courier New', Courier, monospace;
}

.servicesList >li:nth-child(2) {
  background: url("../../assets/hexagon-middle.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Bebas Neue", serif;
  letter-spacing: 2px;
}

.servicesList > li:last-child {
  background: url("../../assets/hexagon-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Yesteryear", serif;;
}

.servicesList > li > a {
  text-decoration: none;
  font-size: 2rem;
  color: inherit;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}

.servicesList > li > a:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.servicesList > li > a > p{
  font-size: 1rem;
  color: hsl(0, 0%, 80%);
  margin-block: 1rem;
}

.law2, .education2, .tech2 {
  background-image: none !important;
  border: solid 1px;
  border-radius: .5rem;
  padding: 1rem;
}

.lawImageContainer img, .educationImageContainer img, .techImageContainer img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.lawText > h3, .educationText > h3, .techText > h3 {
  font-size: 2.5rem;
}

.lawText  > p, .techText  > p, .educationText > p {
  font-size: 1rem;
  color: hsl(0, 0%, 60%);
}


/* ----------------BLOGS and ARTICLE-------------- */

.blogArticles {
 /* margin-block: 5rem; */
}

.blogArticlesTitle {
  font-size: 2.5rem;
  font-weight: bold;
  /* border-bottom: 1px solid white; */
  margin-bottom: 3rem;
}

.blogArticleWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.blogArticle {
  /* display: flex; */
  margin-bottom: 1rem;
  /* border: solid 1px; */
}

.blogArticle:nth-child(odd) {
  flex-direction: row-reverse;
}

.blogArticleImageContainer > img {
  border-radius: .5rem;
}

.blogArticleText {
  padding: 1rem;
}

.blogArticleText > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.blogArticleText > p {
  color: hsl(0, 0%, 60%);
}

.blogArticlesWrapper2 > div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
}

.blogArticlesWrapper2 .blogArticleText {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* padding: 1rem; */
  color: red;
  font-size: 3rem;
}

.blogArticlesWrapper2 .blogArticleText > p {
  margin-top: auto;
}